
.container {
  margin: auto;
  max-width: 360px;
  border: 1px solid #333;
  padding: 10px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.container h3 {
  text-align: center;
  margin: 20px 0;
}

.form-group label {
  display: block;
  margin: 10px 0;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0
}

.btn {
  background: blue;
  color: white;
  border: none;
  text-align: center;
  width: 100%;
  background: #49c1a2;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
}

.btn:disabled {
  background: lightblue;
}